Source: future-fstrings
Section: python
Priority: optional
Maintainer: KERN packaging <packaging@kernsuite.info>
Build-Depends: debhelper (>=9),
               dh-python,
               python-all,
               python-setuptools
Standards-Version: 4.4.1
Homepage: https://github.com/asottile/future-fstrings
X-Python-Version: >= 2.7

Package: future-fstrings
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}, ${python:Depends}, tokenize-rt
Description: A backport of fstrings to python<3.6
